{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
        <h2 style="margin-top: 1em !important;">
            Group 1
        </h2>
        <p>
            English and American Literature before 1800 (Two required, each from different areas)
        </p>
        <p>
            (1) Early Literature of the British Isles (2) Medieval Literature (3) Renaissance Literature (4) Restoration
            and
            Eighteenth-century British and American Literature
        </p>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 1 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td>
                            {% if '4060' in course.coursename or '4210' in course.coursename or '4220' in course.coursename  or '4222' in course.coursename  or '4295' in course.coursename  or '4296' in course.coursename %}(1)
                            {% elseif '4225' in course.coursename or '4230' in course.coursename or '4230' in course.coursename or '4240' in course.coursename or '4270' in course.coursename or '4290' in course.coursename or '4297' in course.coursename %}(2)
                            {% elseif '4300' in course.coursename or '4310' in course.coursename or '4320' in course.coursename or '4330' in course.coursename or
                                '4270' in course.coursename or '4340' in course.coursename or '4350' in course.coursename or '4360' in course.coursename or '4370' in
                                course.coursename or '4390' in course.coursename or '4331' in course.coursename %}(3)
                            {% elseif '4400' in course.coursename or '4410' in course.coursename or '4420' in course.coursename or '4430' in course.coursename or '4440' in course.coursename or '4450' in course.coursename
                                or '4460' in course.coursename or '4470' in course.coursename or '4480' in course.coursename or '4490' in course.coursename or '4700'
                                in course.coursename or '4491' in course.coursename %}(4)
                            {% elseif '4332' in course.coursename or '4333' in course.coursename or '4334' in course.coursename or '4380' in course.coursename %}(3)
                            {% endif %}
                            <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>
            Group 2
        </h2>
        <p>
            British and Postcolonial Literature after 1800 (One required)
        </p>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 2 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>
            Group 3
        </h2>
        <p>
            American Literature after 1800 (One required)
        </p>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 3 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>
            Group 4
        </h2>
        <p>
            Language, Criticism, and Culture (One required)
        </p>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 4 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>
            Group 5
        </h2>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 5 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>
            Group 6
        </h2>
        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}
                    <th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% if  course.area == 6 %}
                    <tr>
                        {% if termname is defined %}
                            <td>{{ termname.termname }}</td>{% endif %}
                        <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructorname }}</td>
                        <td>{{ course.callnumber }}</td>
                        <td>
                            {% if course.time == 'TBA' %}TBA{% elseif course.time > 0 %}
                                {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12 }}
                                {% else %}{{ course.time|slice(0,2)|number_format }}{% endif %}:{{ course.time|slice(2,2) }}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>{% if course.building=='Zell B Miller Learning Center' %}MLC{% else %}{{ course.building }}{% endif %}</td>
                        <td>{{ course.room }}</td>
                        <td>{{ course.days }}</td>
                        <td>{{ course.may }} {{ course.summerterm }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}
