{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <div class="row-fluid">
        <h1>Courses</h1>

        <table class="table">
            <thead>
            <tr>
                {% if termname is defined %}<th>Term</th>{% endif %}
                <th>Course</th>
                <th>Title</th>
                <th>Instructorname</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    {% if termname is defined %}<td>{{ termname.termname }}</td>{% endif %}
                    <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.coursename }}</a></td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.instructorname }}</td>
                    <td>{{ course.callnumber }}</td>
                    <td>{{ course.time }}</td>
                    <td>{{ course.building }}</td>
                    <td>{{ course.room }}</td>
                    <td>{{ course.days }}</td>
                    <td>{{ course.may }} {{ course.summerterm }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">No Courses Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script language="javascript">
    $(document).ready(function () {
        $("table").tablesorter();
    });
</script>
{% endblock %}
