{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
        <h2 class="cmp-heading-2" style="margin-top: 1em !important;">{{ course.coursename }}</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="cmp-button" href="{{ path('course_edit', {'id': course.id}) }}">Edit Course</a>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>Term</th>
                <th>Coursename</th>
                <th>Title</th>
                <th>Instructorname</th>
                <th>Callnumber</th>
                <th>Time</th>
                <th>Building</th>
                <th>Room</th>
                <th>Days</th>
                <th>Area</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ termname.termname }} </td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.instructorname }}</td>
                <td>{{ course.callnumber }}</td>
                <td>{{ course.time }}</td>
                <td>{{ course.building }}</td>
                <td>{{ course.room }}</td>
                <td>{{ course.days }}</td>
                <td>{{ course.area }}</td>
                <td>{{ course.may }} {{ course.summerterm }}</td>
            </tr>
            </tbody>
        </table>


        {% for description in descriptions %}
            {{ description.body|raw }}
            {% if is_granted('ROLE_EDITOR') %}
            <a class="cmp-button" href="{{ path('description_edit', {'id': description.id, 'courseid': course.id}) }}">Update Description</a>
            <a class="cmp-button" href="{{ path('user_home') }}">My Courses</a>
            {% endif %}
            <hr/>
        {% else %}
            No Description for this Course.
            {% if is_granted('ROLE_EDITOR') %}
            <a class="cmp-button" href="{{ path('description_new', {'course': course.id}) }}">Add Description</a>
            <a class="cmp-button" href="{{ path('user_home') }}">My Courses</a>
            {% endif %}
        {% endfor %}

{% endblock %}
