{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
    <h1>Description</h1>

    <h2>{{ description.course }}</h2>
    {{ description.body }}

    <a href="{{ path('description_index') }}">back to list</a>

    {% if course %}
    <a href="{{ path('description_edit', {'id': description.id, courseid: course.id}) }}">edit</a>
        {{ include('description/_delete_form.html.twig') }}
    {%  endif %}


{% endblock %}
